.message {
  padding: 12px 24px;

  @include onBigDesktop {
    padding: 18px 30px;
  }

  transition: all 0.1s ease-in-out;

  &:not(:last-of-type) {
    border-bottom: 1px solid $grey-border;
  }

  &:hover {
    cursor: pointer;

    border-left: 5px solid #296051;
  }

  &__top {
    margin-bottom: 8px;

    @include onBigDesktop {
      margin-bottom: 14px;
    }
  }

  &__title {
    gap: 22px;

    &__photo {
      border-radius: 50%;

      width: 22px;
      height: 22px;
    }
  }

  &__content,
  &__date {
    color: $grey-text;
  }

  &__content {
    margin-bottom: 6px;

    @include onBigDesktop {
      margin-bottom: 14px;
    }
  }

  &__btns {
    gap: 4px;
  }

  &__btn {
    border: none;
    background-color: transparent;

    &__img {
      transition: filter 0.3s ease-in-out;

      &:hover {
        filter: brightness(1.5);
      }
    }
  }
}