.rate {
  gap: 4px;

  &__stars {
    gap: 2px;

    &__item.bigger {
      width: 23px;
      height: 21px;
    }
  }

  &__star {
    transition: all .5s ease-in-out;
    &:hover {
      cursor: pointer;
    }
  }

  &__input {
    &:hover {
      cursor: default;
    }
  }

  &__desc {
    color: $grey-text;

    &.bigger {
      font-size: 18px;
    }
  }
}