.catalog {
  min-width: 800px;

  &__container {
    padding: $main-p 30px 0;
    margin-bottom: $main-p;
  }

  &__header {
    margin-bottom: 8px;

    @include onBigDesktop {
      margin-bottom: 14px;
    }

    &__targets {
      gap: 8px;
    }

    &__btn {
      height: 43px;

      padding: 0 30px;  

      gap: 5px;

      background-color: $grey-light;
      color: $white-text-main;

      cursor: pointer;
    }
  }

  &__table {
    margin-bottom: 8px;

    color: $grey-text;

    @include onBigDesktop {
      margin-bottom: 14px;
    }
  }

  &__item {
    height: 48px;
    padding: 10px 0;

    border-top: 2px solid $black-main;

    @include onBigDesktop {
      height: 46px;
    }

    &__download {
      gap: 8px;

      &__img {
        transform: rotate(180deg);
      }
    }
  }
}