.user {
  border: 1px solid $grey-border;
  border-radius: 50%;
  width: 40px;
  height: 40px;

  &.light {
    border-color: $white-text-main;
  }

  &__photo {
    border-radius: 50%;

    background-color: white;
  }
}
