.menu {
  width: $menu-width;
  height: 100vh;

  background-color: $grey-dark;

  &__logo {
    height: 105px;

    padding: 25px 30px;

    border-bottom: 1px solid $grey-border;
  }

  &__container {
    height: 87vh;
  }

  &__nav {
    padding: 11px 15px;

    &__item {
      width: 183px;
      height: 40px;

      padding: 13px 20px;

      border-radius: 10px;

      gap: 12px;

      color: $grey-text;

      transition: all 0.3s ease-in-out;

      &:hover,
      &:focus,
      &:active {
        background: $green-main;

        color: $white-text-main;

        text-decoration: none;
        
        .menu__nav__item__img {
          filter: brightness(150%);
        }
      }
    }
  }

  &__theme {
    display: flex;
    align-items: center;
    padding: 0 33px;

    &__text {
      margin-right: 8px;
      color: $grey-text;
    }

    &__btn {
      position: relative;
      display: inline-block;
      width: 32px;
      height: 16px;

      margin-bottom: 0;

      input[type="checkbox"] {
        opacity: 0;
        width: 0;
        height: 0;
      }

      &__slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $grey-text;
        transition: .4s;
        
        &.round {
          border-radius: 34px;
        }

        &:before {
          position: absolute;
          content: "";
          height: 12px;
          width: 12px;
          left: 2px;
          bottom: 2px;
          background-color: $black-main;
          transition: .4s;
          border-radius: 50%;
        }
      }
      
    }
  }
}

input:checked + .menu__theme__btn__slider {
  background-color: $white-text-main;

  &:before {
    transform: translateX(15px);
  }
}
