.content {
  
  &__top {
    display: grid;

    position: absolute;

    top: calc(#{$header-height} + 20px);

    margin-left: calc(#{$main-gap} + #{$select-width});

    width: 46vw;

    gap: $main-gap;
  }
}