.content {
  &__middle {
    display: grid;
    
    position: absolute;
    
    top: calc(#{$header-height} + 20px);
    
    margin-left: calc(#{$main-gap} + #{$select-width});

    width: 49vw;

    
    @include onBigDesktop {
      width: 48vw;
    }
  }
  
  &__top {
    gap: $main-gap;

    margin-bottom: $main-gap;

    height: 40vh;

    @include onBigDesktop {
      height: 45.5vh;
    }

    &__empty {
      &__hide {
        visibility: hidden;
      }
    }

    &__resume {
      gap: $main-gap;
    }
  }
}