.header {
  width: calc(100vw - #{$menu-width});
  height: $header-height;

  margin-left: $menu-width;
  margin-bottom: $main-p;

  padding-left: 3vw;

  background-color: $black-header;
  position: fixed;

  z-index: 3;

  &__lang {
    gap: 5px;

    &__item {
      transition: all .3s ease-in-out;

      &:hover {
        width: 30px;

        cursor: pointer;
      }
    }
  }

  &__search {   
    margin: 0 $main-gap 0 $main-gap;
 
    &__input {
      height: 50%;
      width: 52vw;

      background-color: $grey-dark;
      color: $white-text-main;

      padding: 15px $main-gap;
      
      &::placeholder {
        color: $grey-text;

        font-weight: 600;
        font-size: 14px;

        @include onBigDesktop {
          font-size: 18px;
        }
      }
    }

    &__btn {
      right: 7px;
      top: 8%;

      height: 40px;
      width: 74px;
      
      background: $green-main;
    }
  }

  &__menu {
    height: 66px;
    width: 22vw;
    
    &__info {
      gap: 10px;
 
      padding: 8px 15px 8px 22px;
      
      border-left: 2px solid $grey-border;

      &__top {
        &__nums {
          gap: 30%;

          padding-top: 2px;

          margin-right: 36px;
        }
  
        &__icons {
          &__chart {
            padding-right: 4px;
          }

          &__menu {
            padding: 4px 0 4px 8px;

            border-left: 2px solid $grey-border;
          }
        }
      }

      
      &__bottom {
        color: $grey-text;
        
        gap: 12px;
      }
    }
    
    &__nav {
      border-left: 2px solid $grey-border;
      padding: 8px 0 8px $main-gap;

      gap: 8%;

      &__img {
        width: 24px;
        height: 24px;
      }
    }
  }
}

.langSmall {
  width: 20px;
}

