.select {
  width: $select-width;

  height: calc(100vh - #{$header-height} - 41px);

  transition: all 0.3s ease-in-out;

  color: $grey-text;

  &.light {
    color: $grey-hover;
  }

  position: fixed;
  top: calc(#{$header-height} + 21px);
  padding: 15px;
  
  &__main {
    padding: $main-p 4px $main-p 16px;
  
    @include onBigDesktop {
      padding-left: 12px;
    }
  }
  
  &__profile {
    gap: 5px;

    &__img.light {
      filter: brightness(0.5)
    }
  }
  
  &__container {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__main {
      padding-right: 6px;
    }

    &__btn {
      height: 36px;

      margin-bottom: 15px;

      @include onBigDesktop {
        height: 46px;
      }
    }
  }

  &--1 {
    padding-right: 16px;

    @include onBigDesktop {
      padding-right: 12px;
    }
  }

  &--2 {
    padding: 15px 16px;

    @include onBigDesktop {
      padding: 15px 25px;
    }
  }

  &--1,
  &--2 {
    border-bottom: 1px solid $grey-border;

    &.light {
      border-color: $white-text-main;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-bottom: 15px;
    margin-bottom: 15px;

    &.big.open {
      height: calc(50vh - #{$header-height} - 41px);
    }
  }

  &__header {
    cursor: pointer;

    &--active {
      color: $white-text-sec;

      &.light {
        color: $popup-text;
      }
    }

    &.light:hover {
      color: $grey-hover;
    }
    &:hover {
      color: $white-text-sec;
    }


    &--profile {
      border-bottom: 1px solid $grey-border;
      padding-bottom: 5px;

      &.light {
        border-color: $white-text-main;
      }
    }
  }

  &__option {
    transition: all 0.3s ease-in-out;

    &.light {
      color: $grey-hover;
    }

    &__list {
      margin-top: 15px;

      &--close {
        transform: translateY(-100%);

        display: none;
        visibility: hidden;
        transition: all 1s ease-in-out;
      }

      &--open {
        transform: translateY(0%);

        display: block;
        visibility: visible;
        transition: all 1s ease-in-out;
      }

      &__item {
        margin-bottom: 10px;

        &--border {
          border-bottom: 1px solid $grey-border;

          &.light {
            border-color: $white-text-main;
          }
        }

        &--wallet {
          cursor: pointer;
          padding-left: 5px;
        }

        &--last {
          margin-bottom: 0;
        }
      }
    }
  }

  &__messages {
    gap: 18px;

    &__item {
      gap: 10px;

      color: $grey-text;

      transition: filter 0.3s ease-in-out;

      &.light {
        &:hover {
          color: $grey-hover;
          filter: brightness(0.8);
        }
      }

      &:hover {
        filter: brightness(2);
      }

      &--delete {
        border-bottom: 1px solid $grey-border;

        &.light {
          border-color: $white-text-main;
        }

        padding-bottom: 15px;
      }

      &__img {
        width: 16px;
        height: 16px;
      }
    }
  }
}

.checkbox-label {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: $white-text-main;
  }

  &.light {
    color: $popup-text;

    &:hover {
      color: $grey-hover;
    }
  }
}

input[type="checkbox"]:checked ~ span {
  &.light {
    color: $grey-hover;
  }

  color: $white-text-main;
}

.arrow-close {
  transform: rotate(180deg);
}

.scroll {
  overflow-y: scroll;
  overflow-x: hidden;
}

