$black-main: #1f1f1f;
$black-header: #131313;
$grey-dark: #282828;
$grey-light: #393939;

$grey-border: #383d3d;

$grey-scroll: #303030;

$grey-text: #888888;
$white-text-main: #ededed;
$white-text-sec: #dfdfdf;

$green-main: linear-gradient(94.52deg, #296051 0%, #3B6078 100%);
$purple-main: linear-gradient(105.41deg, #B453E4 0%, #4963F1 100%);

$menu-width: 11vw;
$header-height: 10vh;
$select-width: 12vw;
$card-width: 14vw;

$card-width-big: 275px;