.header {
  width: calc(100vw - #{$menu-width});
  height: 106px;

  position: absolute;
  top: 0;
  left: $menu-width;

  padding: 0 60px 0 54px;

  &__select {
    background-color: $black-main;
    border: none;

    height: 50%;

    color: $white-text-sec;
  }
  
  &__search {   
    margin: 0 2vw 0 3vw;
 
    &__input {
      height: 56px;
      width: 46vw;

      background-color: $grey-dark;
      color: $white-text-main;

      padding: 15px 30px;
      
      &::placeholder {
        color: $grey-text;
      }
    }

    &__btn {
      right: 7px;
      top: 15%;

      height: 44px;
      width: 74px;
      
      background: $green-main;
    }
  }

  &__menu {
    height: 66px;
    
    &__info {
      gap: 10px;
      width: 11vw;

      padding: 8px 0 8px 4%;
      
      margin-right: 25px;

      border-left: 2px solid $grey-border;

      &__top {
        &__nums {
          gap: 30%;

          padding-top: 2px;
        }
  
        &__icons {
          &__chart {
            padding-right: 14px;
          }

          &__menu {
            padding: 4px 0 4px 14px;

            border-left: 2px solid $grey-border;
          }
        }
      }

      
      &__bottom {
        color: $grey-text;
        
        gap: 12px;
      }
    }
    
    &__nav {
      width: 11vw;

      border-left: 2px solid $grey-border;
      padding: 8px 0 8px 4%;
      
      margin-right: 25px;

      gap: 6%;

    }
  }
}

