.select {
  width: $select-width;

  height: calc(100vh - #{$header-height});

  background-color: $grey-dark;

  margin: 0 20px 0 20px;

  transition: all 0.3s ease-in-out;

  border-radius: 20px;

  color: $grey-text;

  &--1 {
    padding: 20px 25px 25px;
  }

  &--2 {
    padding: 15px 25px;
  }

  &--1,
  &--2 {
    border-bottom: 1px solid $grey-border;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
  }

  &__header {
    cursor: pointer;

    &--active {
      color: $white-text-sec;
    }
  }

  &__option {
    transition: all 0.3s ease-in-out;

    &__list {
      margin-top: 15px;

      &--close {
        transform: translateY(-100%);

        display: none;
        visibility: hidden;
    transition: all 1s ease-in-out;

      }

      &--open {
        transform: translateY(0%);

        display: block;
        visibility: visible;
    transition: all 1s ease-in-out;

      }

      &__item {
        margin-bottom: 10px;

        &--last {
          margin-bottom: 0;
        }
      }
    }
  }
}

/* Hide the default checkbox */
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid $grey-text;
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;

  margin-right: 10px;

  &:checked {
    background-image: url('../../img/icons/check.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}

/* Style the label for the default checkbox */
.checkbox-label {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: $white-text-main;
  }
}

.arrow-close {
  transform: rotate(180deg);
}

